<table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('name'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('created'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('online'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('category_id'); ?></th>
                <th scope="col"><?= $this->Paginator->sort('comment_count'); ?></th>
                <th scope="col" class="actions"><?= __('Actions'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($posts as $post): ?>
            <tr>
                <td><?= $this->Number->format($post->id); ?></td>
                <td><?= h($post->name); ?></td>
                <td><?= h($post->created); ?></td>
                <td><?= h($post->modified); ?></td>
                <td><?= h($post->online); ?></td>
                <td><?= $post->has('user') ? $this->Html->link($post->user->id, ['controller' => 'Users', 'action' => 'view', $post->user->id]) : ''; ?></td>
                <td><?= $post->has('category') ? $this->Html->link($post->category->name, ['controller' => 'Categories', 'action' => 'view', $post->category->id]) : ''; ?></td>
                <td><?= $this->Number->format($post->comment_count); ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $post->id]); ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $post->id]); ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $post->id], ['confirm' => __('Are you sure you want to delete # {0}?', $post->id)]); ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< '.__('first')); ?>
            <?= $this->Paginator->prev('< '.__('previous')); ?>
            <?= $this->Paginator->numbers(); ?>
            <?= $this->Paginator->next(__('next').' >'); ?>
            <?= $this->Paginator->last(__('last').' >>'); ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]); ?></p>
    </div>