<?php
/**
 * @var \App\View\AppView
 * @var \App\Model\Entity\Post $post
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions'); ?></li>
        <li><?= $this->Html->link(__('List Posts'), ['action' => 'index']); ?></li>
    </ul>
</nav>
<div class="posts form large-9 medium-8 columns content">
    <?= $this->Form->create($post); ?>
    <fieldset>
        <legend><?= __('Add Post'); ?></legend>
        <?php
            echo $this->Form->control('name');
            echo $this->Form->control('content');
            echo $this->Form->control('online');
            echo $this->Form->control('user_id');
            echo $this->Form->control('category_id');
            echo $this->Form->control('comment_count');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')); ?>
    <?= $this->Form->end(); ?>
</div>
